---
import Layout from "@/layouts/ReviewLayout.astro";
import { getCollection } from "astro:content";

const tools = await getCollection("tools");
---

<Layout title="Tools">
  <main>
    <h1>Tools</h1>
    <ul>
      {
        tools.map((tool) => (
          <li>
            <a href={`/tool/${tool.id}`}>{tool.data.name}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
