---
import { Info, Wrench, Sticker, Users } from "lucide-react";
import FunningsLogo from "@/images/logos/funnings.svg";
import { Picture } from "astro:assets";
---

<div
  class="bg-bunnings-secondary-green font-bunnings-heading text-white shadow-lg"
>
  <div class="mx-auto max-w-6xl sm:px-6">
    <div class="navbar">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"></path>
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-bunnings-neutral-light-gray text-bunnings-secondary-green z-[1] mt-3 w-52 rounded p-2 shadow"
          >
            <li>
              <a
                href="/tools/v2"
                class="hover:bg-bunnings-primary-orange flex items-center space-x-2 hover:text-black"
              >
                <Wrench className="h-4 w-4" />
                <span>Tools</span>
              </a>
            </li>
            <li>
              <a
                href="/authors/v2"
                class="hover:bg-bunnings-primary-orange flex items-center space-x-2 hover:text-black"
              >
                <Users className="h-4 w-4" />
                <span>Authors</span>
              </a>
            </li>
            <li>
              <a
                href="/cartoons"
                class="hover:bg-bunnings-primary-orange flex items-center space-x-2 hover:text-black"
              >
                <Sticker className="h-4 w-4" />
                <span>Cartoons</span>
              </a>
            </li>
            <li>
              <a
                href="/about"
                class="hover:bg-bunnings-primary-orange flex items-center space-x-2 hover:text-black"
              >
                <Info className="h-4 w-4" />
                <span>About</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li>
            <a
              href="/tools/v2"
              class="hover:bg-bunnings-primary-orange flex items-center space-x-2 hover:text-black"
            >
              <Wrench className="h-5 w-5" />
              <span>Tools</span>
            </a>
          </li>
          <li>
            <a
              href="/authors/v2"
              class="hover:bg-bunnings-primary-orange flex items-center space-x-2 hover:text-black"
            >
              <Users className="h-5 w-5" />
              <span>Authors</span>
            </a>
          </li>
          <!-- TODO: update these later with correct layout -->
          <!-- <li>
            <a
              href="/cartoons"
              class="hover:bg-bunnings-primary-orange flex items-center space-x-2 hover:text-black"
            >
              <Sticker className="h-5 w-5" />
              <span>Cartoons</span>
            </a>
          </li>
          <li>
            <a
              href="/about"
              class="hover:bg-bunnings-primary-orange flex items-center space-x-2 hover:text-black"
            >
              <Info className="h-5 w-5" />
              <span>About</span>
            </a>
          </li> -->
        </ul>
      </div>
      <div class="navbar-end">
        <a href="/tools/v2" class="h-fit text-xl">
          <Picture
            src={FunningsLogo}
            alt="ðŸ–‹ï¸âœ–ï¸ðŸ› ï¸"
            width={120}
            height={120}
            class="h-12 w-auto"
          />
        </a>
      </div>
    </div>
  </div>
</div>
